extends ../box/box
block content
  .sub-menu__list
    .sub-menu__item
      div collection 1
      div collection 2
      div collection 3
      div collection 4
    .sub-menu__item
      div collection 1
      div collection 2
      div collection 3
      div collection 4
    .sub-menu__item
      img(
          src="/asset/image/Background.jpg"
          width=200
          height=200
      )
    .sub-menu__item
      img(
          src="/asset/image/Background.jpg"
          width=200
          height=200
        )