.cart__list {
  display: flex;
  flex-direction: column;
}

.cart__item {
  display: flex;
  padding: 1rem;
}

.cart__item-list-wrapper {
  display: flex;
  flex-direction: column;
}

.cart__item-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  text-transform: capitalize;
}

.cart__item-list1 {
  display: flex;
  flex-direction: row;
}
.cart__item-list2 {
  display: flex;
  flex-direction: row;
}

h3{
  height: 29px;
  width: 119px;
  color: #181818;
  font-size: 22px;
  font-weight: 500;
  line-height: 29px;
  margin: 1rem;
  text-transform: capitalize;
}

hr {
  margin: 1rem;
}