.cart__list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cart__item {
  display: flex;
  padding: 1rem;
}

.cart__item-list-wrapper {
  display: flex;
  flex-direction: column;
}

.cart__item-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  // margin: 1rem;
  text-transform: capitalize;
  font-size: 16px;
}

.cart__item-list1 {
  display: flex;
  flex-direction: row;
}
.cart__item-list2 {
  display: flex;
  flex-direction: row;
}

h3{
  height: 29px;
  width: 119px;
  color: #181818;
  font-size: 22px;
  font-weight: 500;
  line-height: 29px;
  margin: 1rem;
  text-transform: capitalize;
}

hr {
  margin: 1rem;
}

.cart__checkout-button {
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  height: 52px;
  width: 295px;
  background-color: #2D4966;
  margin: 37px 30px;
}

.cart__image {
  border: 30px solid #eaeaea;
  margin: 10px;
}