extends ../dropdown/dropdown
block content
  .cart__list
    h3 your cart 
    hr
    .cart__item-list-wrapper
      .cart__item-list1
        .cart__item-image
          img(
              src="/asset/image/Background.jpg"
              width=200
              height=200
          )
        .cart__item-list
          div product title x
          div variant name
          div - 2 +
          div £60.00
      hr
      .cart__item-list2
        .cart__item-image
          img(
            src="/asset/image/Background.jpg"
            width=200
            height=200
          )
        .cart__item-list
          div product title x
          div variant name
          div - 2 +
          div £60.00