extends ../dropdown/dropdown
block content
  .cart__list
    h3 your cart 
    hr
    .cart__item-list-wrapper
      .cart__item-list
        img(
            src="/asset/image/Background.jpg"
            width=200
            height=200
        )
      
        div collection 1
        div collection 2
        div collection 3
        div collection 4
      hr
      .cart__item-list
        img(
          src="/asset/image/Background.jpg"
          width=200
          height=200
        )
        div collection 1
        div collection 2
        div collection 3
        div collection 4